@font-face {
    font-family: 'cantarellregular';
    src: url('../fonts/cantarell_reg/Cantarell-Regular-webfont.eot');
    src: url('../fonts/cantarell_reg/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cantarell_reg/Cantarell-Regular-webfont.woff') format('woff'),
         url('../fonts/cantarell_reg/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('../fonts/cantarell_reg/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	color: #777777;
	font-family: 'cantarellregular';
}

header > div.container {
	max-width: 1180px;
	margin: 0 auto;
	text-align: center;
}

#img-head {width: 90%;}

#logo {width: 26.3%}

nav {
	border-bottom: 2px solid #333333;
	border-top: 2px solid #333333;
	color: #ffffff;
	font-size: 16px;
	margin: 25px 0px 20px 0px;
	text-transform: uppercase;
}

ul.nav > li {display: inline-block;}

li.active {
	border-bottom: 8px solid #b9e0d8;
	padding: 18px 18px 10px 18px;
}

li.inactive {padding: 18px;}

a.navlink {
	color: #333333;
	text-decoration: none;
}

a:hover {color: #b9e0d8;}

section {
	margin: 0 auto;
	max-width: 1180px;
	width: 100%;
}

#announce {
	font-size: 18px;
	padding-bottom: 15px;
	text-align: center;
}

#announce > a {color: #777777;}
#announce > a:hover {color: #b9e0d8;}

#home-xl-img {
	float: left;
	max-width: 800px;
	width: 100%;
}

.home-side-img {
	float: right;
	margin: 0 0 20px 20px;
	max-width: 360px;
	width: 100%;
}

.home-side-img {
	float: right;
	margin: 0 0 20px 20px;
	max-width: 360px;
	width: 100%;
}

.clear {clear: both;}

.home-btm-img, .home-btm-mid-img {
	float: left;
	max-width: 380px;
	width: 100%;
}

.home-btm-mid-img {margin: 0 20px;}

footer {
	border-top: 5px solid #4aaaa5;
	background-color: #666666;
	clear: both;
	margin: 0;
	padding: 20px;
	text-align: center;
	width: 100%;

}


