body {
	color: #777777;
	font-family: 'cantarellregular', Calibri, 'Helvetica Neue', Helvetica, sans-serif;
}

h3 {font-family: 'Xiomara-Script', 'Georgia', Times, Times New Roman, serif;
	}

header, main, section, aside {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;

}

a {color: #777777;}
a:hover {color: #b9e0d8;}


#img-head {width: 90%;}

#logo {width: 350px;}

nav {
	border-bottom: 2px solid #333333;
	border-top: 2px solid #333333;
	color: #ffffff;
	font-size: 16px;
	margin: 25px 0px 20px 0px;
	text-transform: uppercase;
}

ul.nav > li {display: inline-block;}

li.active {
	border-bottom: 8px solid #b9e0d8;
	padding: 18px 20px 12px 20px;
}

li.inactive {padding: 20px;}

a.navlink {
	color: #333333;
	text-decoration: none;
}

a:hover {color: #b9e0d8;}

.clearfix {overflow: auto;}

.announce {
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 25px;
	text-align: center;
}

#home-xl {
	position: relative;
	max-width: 800px;
	float: left;
	max-width: 800px;
	margin-right: 20px;
	width: 100%;
}

#home-xl-img {
	max-width: 800px;
	width: 100%;
	
}

#home-xl-btn {
  position: absolute;
  z-index: 99;
  left: 115px;
  top: 100px;
  padding: 30px;
  font-family: 'Xiomara-Script', 'Georgia', Times, Times New Roman, serif;
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 15px #000;
  cursor: pointer;
  border-radius: 5px;
  background: none;
  border: 5px double #fff;
}

#home-xl-btn:hover {
  background: #b9e0d8;
  opacity: 0.5;
}

#lav-blooms {
	background-image: url('../images/index/lav-blooms-box.jpg');
	margin-bottom: 20px;
	max-width: 360px;
	height: 290px;
}

#pink-closeup {
	background-image: url('../images/index/pink-closeup-box.jpg');
	max-width: 360px;
	height: 290px;
}

#white-blooms {
	background-image: url('../images/index/white-blooms-box.jpg');
	max-width: 380px;
	height: 280px;
}

#teacup {
	background-image: url('../images/index/teacup-box.jpg');
	max-width: 380px;
	height: 280px;
}

#rustic-bar {
	background-image: url('../images/index/rustic-bar-box.jpg');
	max-width: 380px;
	height: 280px;
}

.home-side-div {
	float: left;
	max-width: 360px;
	position: relative;
	width: 100%;
}

.home-btm-div, .home-btm-mid-div {
	float: left;
	margin-bottom: 50px;
	margin-top: 20px;
	max-width: 380px;
	position: relative;
	width: 100%;
}

.home-btm-mid-div {margin: 20px 20px 0 20px;}

.img-title { 
	top: 127px;
	color: #fff;
	font-size: 50px;
	line-height: 60px;
	padding: 0;
	position: absolute;
	text-align: center;
	text-shadow: 0px 0px 15px #000;
	text-transform: none;
	width: 100%;
}

.clear {clear: both;}

div.home-img-link:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.5);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

div.home-img-link:hover:after {
    opacity: 1;
    cursor: pointer;
}

main > hr {
	color: #333333;
	text-align: center;
	width: 80%
}
.container {
	padding: 25px 25px 30px 25px;
	line-height: 26px;
	text-align: left;
	font-size: 20px;
}

.main-titles {
	padding: 30px 0;
	font-size: 35px;
	color: #333333;
}

aside {
	margin-top: 55px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	border: 1px solid #dddddd;
	background-color: #fff;
	-webkit	box-sizing: border-box;
		-moz box-sizing: border-box;
			box-sizing: border-box;
}

#contact-main {
	margin-top: 0px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 60px;
	background-color: #fff;
	-webkit	box-sizing: border-box;
		-moz box-sizing: border-box;
			box-sizing: border-box;
}

.aside-contact-box, .aside-visit-box {
	float: left;	
	width: 30%;
	text-align: center;
	padding: 0px 0px 30px 30px;
	-webkit	box-sizing: border-box;
		-moz box-sizing: border-box;
			box-sizing: border-box;
}

.aside-box-title {
	padding-bottom: 20px;
	width: 100%;
	font-family: 'cantarellregular';
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #555555;
}

.aside-box-title:before, .aside-box-title:after {
	content: " - ";
	color: #dddddd;
}

#aside-contact-content, #aside-visit-content {
	font-size: 18px;
	text-align: left;
}

.contact-icon, .visit-icon {
	width: 30px;
	height: 30px;
	float: left; 
}

.contact-info, .visit-info {
	margin-left: 45px;
    line-height: 30px;
}

#aside-map {
	float: left;	
	height: 300px;
	width: 40%;
	padding: 30px 30px 30px 0px;
	background-color: #dddddd;
	-webkit	box-sizing: border-box;
		-moz box-sizing: border-box;
			box-sizing: border-box;
}

footer {
	border-top: 5px solid #565155;
	background-color: #b9e0d8;
	clear: both;
	margin: 0 auto;
	max-width: 1180px;
	padding: 20px;
	text-align: center;
	width: 100%;
	-webkit	box-sizing: border-box;
		-moz box-sizing: border-box;
			box-sizing: border-box;
}

/* ABOUT */

#about-xl {
	width: 100%;
}

/* PORTFOLIO */

#pf-welcome {
	text-align: center;
}

.pf-title {
	padding: 0px 0 20px 0;
	font-size: 45px;
	color: #333333;
}

