@font-face {
    font-family: 'Xiomara-Script';
    src: url('xiomara-script.eot');
    src: url('xiomara-script') format('embedded-opentype'),
         url('xiomara-script.woff') format('woff'),
         url('xiomara-script.ttf') format('truetype'),
         url('xiomara-script#Xiomara') format('svg');
    font-weight: normal;
    font-style: normal;

}



