@font-face {
    font-family: 'Xiomara-Script';
    src: url('Xiomara-Script.eot');
    src: url('Xiomara-Script') format('embedded-opentype'),
         url('Xiomara-Script.woff') format('woff'),
         url('Xiomara-Script.ttf') format('truetype'),
         url('Xiomara-Script#Xiomara') format('svg');
    font-weight: normal;
    font-style: normal;

}



